{
  "env": {
    "browser": true
  },
  "plugins": ["jsx-a11y", "prettier"],
  "extends": [
    "react-app",
    "./node_modules/eslint-config-airbnb-base/rules/best-practices.js",
    "./node_modules/eslint-config-airbnb-base/rules/errors.js",
    "./node_modules/eslint-config-airbnb-base/rules/node.js",
    "./node_modules/eslint-config-airbnb-base/rules/style.js",
    "./node_modules/eslint-config-airbnb-base/rules/variables.js",
    "./node_modules/eslint-config-airbnb-base/rules/es6.js",
    "plugin:jsx-a11y/recommended",
    "prettier"
  ],
  "rules": {
    "no-console": "warn", // Warning
    "no-duplicate-case": "error", // Error
    "no-extra-semi": "off", // NO error
    "eqeqeq": "error",
    "default-case": "error",
    "comma-dangle": ["error", "always-multiline"],
    "no-shadow": "off",
    "no-plusplus": "error",
    "no-nested-ternary": "off",
    "no-tabs": "error",
    "no-unneeded-ternary": "error",
    "quotes": ["error", "single"],
    "func-names": "off",
    "react/jsx-filename-extension": ["warn", { "extensions": [".js", ".jsx"] }],
    "react/jsx-props-no-spreading": "off",
    "react/prop-types": "off",
    "import/no-anonymous-default-export": "off",
    "spaced-comment": "off",
    "no-bitwise": "off"
  }
}
